
<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>Interactive Scratchmap</title>

      <!-- jQuery then popper then bootstrap CSS and JS plugin -->
      <script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <!-- own styling -->
      <link rel="stylesheet" type="text/css" href="/css/style.css">
      <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">

      <!-- mousewheel, raphael, mapael -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"
              charset="utf-8"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.7/raphael.min.js" charset="utf-8"></script>
      <script src="/js/jquery.mapael.js" charset="utf-8"></script>

      <!-- maps -->
      <script src="/js/world_countries_mercator.js" charset="utf-8"></script>
      <!-- <script src="/js/tempMap.js" charset="utf-8"></script> -->

      <script>
        $.get('/account/getMap', function(data) {
          // console.log(data)
          data.map.defaultArea.eventHandlers.dblclick = function (e, id, mapElem, textElem) {
            var newData = {
              'areas': {}
            };
            // if color is original, change to new
            if (mapElem.originalAttrs.fill == "#28587B") {
              newData.areas[id] = {
                attrs: {
                  fill: "#C03221"
                }
              };
            // if color is new, change to original
            } else {
              newData.areas[id] = {
                attrs: {
                  fill: "#28587B"
                }
              }
            }
            $(".mapcontainer").trigger('update', [{mapOptions: newData,
              afterUpdate: function(container, paper, areas, plots, options) {
                console.log(newData.areas)
                $.post('/account/save', newData.areas)
              }}
            ])
          }
          $(".mapcontainer").mapael(data)
        })
      </script>
  </head>

  <body>
    <div class="panel">
      <div class="title">
        <h2>Interactive Scratchmap</h2>
        <% if (user) { %>
        <h1> Hi <%= user %> ! </h1>
        <% } %>
      </div>

      <div class="user-buttons">
        <button type="button" class="btn btn-outline-info"><a href="/account/login">Log In</a></button>
        <button type="button" class="btn btn-outline-info"><a href="/account/signup">Sign Up</a></button>
        <button type="button" class="btn btn-outline-info"><a href="/account/logout">Log Out</a></button>
        <button type="button" class="btn btn-outline-info"><a href="https://krikienoid.github.io/flagwaver/">Flag Waver</a></button>
      </div>
    </div>

    <div class="mapcontainer">
        <div class="map"></div>
    </div>
  </body>

</html>
